<div class="post-blurb">
    <header>
    <h5 class="blurb-title" itemprop="headline">{{title}}</h5>
    <div class="date">
        &nbsp;&bull;&nbsp;
        <time id="blurb-time" datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">
            {{date format='DD MMM YYYY'}}
        </time>
    </div>
    </header>
    <div class="blurb-description">
        <p> {{meta_description}}</p>
        <a class="button" href="{{url}}">Read</a>
    </div>
</div>
